/* ############### Fonts ############### */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');






/* ############### General ############### */
:root {
  --header-padding: 32px;
  --header-top-height: 40px;
  --header-bot-height: 80px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}

.body__wrapper {
  position: relative;
}

.link {
  text-decoration: none;
  color: rgba(255, 251, 250, 1)
}

.content__wrapper {
  max-width: 1504px;
  margin: 0 auto;
}

.content__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
  height: fit-content;
  width: 100%;
}

.text_dark {
  color: rgba(224, 219, 218, 1);
}

.heading_large {
  font-size: 56px;
  line-height: 66px;
  font-weight: 700;
}

.heading_semilarge {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
}

.heading_medium {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.paragraph {
  font-size: 18px;
  line-height: 27px;
}

.input__text {
  height: 64px;
  padding: 18.5px 16px;
  outline: unset;
}

.input__text_style {
  color: rgba(189, 189, 189, 1);
  box-sizing: border-box;
  font-size: 16px;
  line-height: 27px;
  background-color: transparent;
  border: 1px solid rgba(224, 219, 218, 0.3);
}

.input__text::placeholder {
  color: rgba(189, 189, 189, 1);
}

.input__text_style:hover,
.input__text_style:focus {
  border: 1px solid rgba(255, 251, 250, 1);
}

.form__button {
  width: 264px;
  box-sizing: border-box;
  cursor: pointer;
}

.form__button:hover {
  background-color: rgb(0,178,191);
  border: none;
  color: rgba(0, 66, 70, 1);
}

.form__button:active {
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 66, 70, 1);
}

.input__text:focus::placeholder {
  color: transparent;
}

.input__radio {
  display: none;
}

.section__content {
  padding: 144px 0;
}

.content__img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.section__heading_medium {
  font-size: 24px;
  line-height: 36px;
}

.slider__control-button {
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 251, 250, 1);
  color: rgba(255, 251, 250, 1);
  cursor: pointer;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-family: 'Raleway';
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__wrapper {
  overflow: hidden;
}

.slider__content {
  display: flex;
  width: fit-content;
  transition: 0.3s ease-in-out;
}

.slider__item {
  width: max-content;
}


/* ############### Header ############### */

.header {
  width: 100vw;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: 0.3s;
}

.header__wrapper {
  max-width: 1920px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 var(--header-padding);
  margin: 0 auto;
}

.header__top {
  height: var(--header-top-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 15;
  position: relative;
}

.header__contacts,
.header__socials {
  display: flex;
}

.header__link {
  display: flex;
  align-items: center;
}

.header__link + .header__link {
  margin-left: 24px;
}

.header__icon {
  height: fit-content;
  display: flex;
}

.header__text_contact {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header__link:hover .header__text_contact {
  color: rgb(0, 178, 191);
}

.header__socials {
  align-items: center;
}

.socials__link {
  display: flex;
  height: fit-content;
  padding: 10px 8px;
}

.socials__link:last-child {
  padding-right: 0;
}

.header__bot {
  height: var(--header-bot-height);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
}

.header__bot::before,
.header__bot::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(224, 219, 218, 0.3);
  z-index: 10;
}

.header__bot::after {
  bottom: 0;
}

.header__bot::before {
  top: 0;
}

.logo__img {
  display: block;
}

.logo__wrapper {
  width: fit-content;
}

.header__logo {
  display: flex;
  width: fit-content;
  position: absolute;
  z-index: 5;
}

.slider__control {
  width: fit-content;
  height: 64px;
}

/* ------ navigation menu ------ */

.header__nav {
  height: calc(100% - 2px);
  width: 100%;
  display: flex;
}

.nav__list {
  width: fit-content;
  margin-left: auto;
  margin-right: 62px;
  list-style: none;
  display: flex;
  height: 100%;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  color: rgba(255, 251, 250, 1);
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
}

.nav__li:last-child .nav__link {
  padding-right: 0;
}

.nav__link:hover {
  color: rgb(0, 178, 191);
}

.nav__link:hover::after {
  content: "";
  width: calc(100% - 32px);
  height: 1px;
  background-color: rgb(0, 178, 191);
  position: absolute;
  bottom: -1px;
  left: 16px;
}

.nav__link:active {
  color: rgb(255, 255, 255);
}

.nav__link:active::after {
  background-color: rgb(255, 255, 255);
}

.nav__li:last-child:hover .nav__link {
  width: calc(100% + 16px);
}

.tab-menu {
  margin-left: 9px;
}

.header__subnav {
  position: absolute;
  left: 0;
  top: calc(100% + 1px + var(--header-bot-height));
  padding-top: 120px;
  background: rgba(0, 66, 70, 1);
  transform: translateY(calc(-100% - var(--header-bot-height) * 2 - var(--header-top-height)));
  transform-origin: top;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

#services:hover .header__subnav {
  transform: translateY(calc(0px - var(--header-bot-height) * 2 - var(--header-top-height)));
  transition: 0.3s ease-in-out;
}

.subnav__wrapper {
  padding: 64px 0;
}

.subnav__content {
  height: 424px;
  box-sizing: border-box;
  z-index: 1;
}

.subnav__title-list {
  list-style: none;
  grid-column: 1/4;
  border-right: 1px solid rgba(224, 219, 218, 0.3);
  padding: 16px 0;
  box-sizing: border-box;
}

.subnav__title-li {
  font-size: 24px;
  line-height: 36px;
  position: relative;
}

.subnav__link {
  padding: 16px 64px 16px 0;
  display: flex;
  justify-content: space-between;
}

.subnav__title-link {
  position: relative;
}

.subnav__title-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 64px;
  height: 100%;
  width: 20px;
  background-image: url('/pictures/icons/arrow_R.svg');
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.3s;
  filter: opacity(0.3);
}

.subnav-link_active::after {
  filter: opacity(1);
  transition: 0.3s;
}

.subnav__child-list {
  padding-top: 16px;
  position: absolute;
  left: calc(100% + 64px);
  top: 0;
  width: fit-content;
  list-style: none;
  display: none;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 24px 116px;
  grid-auto-flow: column;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.5s;
}

.subnav-link_active+.subnav__child-list {
  display: grid;
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0.5s;
}

.subnav__child-li {
  font-size: 16px;
  line-height: 24px;
  width: fit-content;
  display: flex;
}

.consult__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 325px;
  border-left: 1px solid rgba(224, 219, 218, 0.3);
  box-sizing: border-box;
}

/* ############### Banner ############### */

.banner {
  position: relative;
  height: 100vh;
  position: relative;
  color: rgb(255, 255, 255);
  /*background: linear-gradient(300.87deg, #030406 5.2%, #547DBA 82.47%);*/
  background: linear-gradient(0deg, #000000 -63.81%, rgba(0, 0, 0, 0) 103.55%), rgba(0, 47, 50, 0.8);
  mix-blend-mode: color;
}

.banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(42, 64, 99, 0.6);*/
  background: rgba(0, 66, 70, 0.6);
}

.banner__picture {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner__img {
  position: absolute;
  height: 100%;
  z-index: 1;
}

.banner__wrapper {
  height: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  padding-top: calc(var(--header-bot-height) + var(--header-top-height));
  box-sizing: border-box;
  position: relative;
}

.banner__background-photo {
  position: absolute;
  width: 49.6%;
  height: 73.13%;
  bottom: 0;
  right: -1%;
}

.banner__background-img {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: drop-shadow(0px 100px 80px rgba(28, 28, 28, 0.07)) drop-shadow(0px 30.1471px 24.1177px rgba(28, 28, 28, 0.0456112)) drop-shadow(0px 12.5216px 10.0172px rgba(28, 28, 28, 0.035)) drop-shadow(0px 4.5288px 3.62304px rgba(28, 28, 28, 0.0243888));
  -webkit-mask-image: linear-gradient(156.58deg, #000000 56.76%, rgba(0, 0, 0, 0) 107.55%);
}

.banner__container {
  height: 500px;
  z-index: 5;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: auto;
}

.banner__unit-text,
.banner__unit-form {
  grid-column: 1/13;
}

.banner__unit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner__heading_large {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  font-size: 72px;
  line-height: 85px;
}

.banner__heading_subheading {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}

.banner__heading_semilarge {
  margin-bottom: 8px;
}

.input__name {
  grid-column: 1/4;
}

.input__tel {
  grid-column: 4/7;
}

.form__unit-personal {
  grid-column: 1/7;
  margin-top: 32px;
  padding-left: 28px;
}

.input__radio-label {
  color: rgba(224, 219, 218, 0.3);
  position: relative;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}

.input__radio-label::before {
  position: absolute;
  content: "";
  background-image: url('/pictures/icons/radio_deactive.svg');
  background-repeat: no-repeat;
  top: -2px;
  left: -28px;
  height: 100%;
  width: 20px;
}

.input__radio:checked + .input__radio-label::before {
  background-image: url('/pictures/icons/radio_active.svg');
}

.banner__input-submit {
  grid-column: 7/10;
}

/* ############### Chief ############### */

.chief__photo-container {
  grid-column: 1/6;
  width: 100%;
  height: fit-content;
}

.chief__text-container {
  grid-column: 7/13;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.chief__unit_heading {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chief__heading_medium {
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-top: 20px;
}

.chief__achives {
  list-style: none;
}

.chief__unit-content {
  margin-top: 120px;
}

.chief__achives-li {
  font-size: 18px;
  line-height: 27px;
  padding: 24px 0;
  box-sizing: border-box;
  position: relative;
}

.chief__achives-li:not(.chief__achives-li:first-child):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: rgba(224, 219, 218, 1);
}

.chief__achives-li:last-child {
  padding-bottom: 0;
}
/*
.chief__achives-li:last-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgba(224, 219, 218, 1);
}
*/
.dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background-image: url('/pictures/icons/dote__marker.svg');
  /*top: calc(24px + 27px / 2 - 4px / 2);*/
  top: 0;
  left: 0;
}

.chief__paragraph {
  margin-top: 32px;
}

.chief__summary {
  display: flex;
  padding-left: 8px;
  position: relative;
}

.chief__summary::before {
  content: "";
  position: absolute;
  top: calc(50% - 12px / 2);
  left: 5px;
  width: 8px;
  height: 12px;
  background-image: url('/pictures/icons/details.svg');
  background-repeat: no-repeat;
  transition: 0.4s ease-in-out;
}

.chief__details[open] > .chief__summary::before {
  transition: 0.4s ease-in-out;
  transform: rotate(90deg);
}

.chief__heading_medium {
  margin-top: 0;
  margin-left: 22px;
  font-weight: 700;
}

.details__ul {
  list-style: none;
  margin-top: 36px;
}

.details__li {
  position: relative;
  padding-left: 36px;
}

.details__li::before {
  content: url('/pictures/icons/dote__marker.svg');
  position: absolute;
  top: -4px;
  left: 8px;
  width: 4px;
  height: 4px;
}


.details__li + .details__li {
  margin-top: 24px;
}


/* ############### Advantage ############### */

.advantage {
  background-color: rgba(224, 219, 218, 0.3);
}

.advantage__unit-heading {
  grid-column: 1/6;
}

.advantage__heading_large {
  margin-bottom: 16px;
}

.advantage__content {
  grid-column: 1/12;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-row-gap: 80px;
  grid-column-gap: 32px;
  height: fit-content;
  margin: 80px 0;
}

.advantage__item_1 {
  grid-column: 1/4;
}

.advantage__item_2 {
  grid-column: 5/8;
}

.advantage__item_3 {
  grid-column: 9/12;
}

.advantage__icon {
  max-width: 100%;
}

.advantage__heading_medium {
  margin-top: 24px;
  margin-bottom: 16px;
}

.advantage__link {
  color: rgba(0, 66, 70, 1);
  grid-column: 1/3;
  height: 64px;
  width: 208px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 66, 70, 1);
  box-sizing: border-box;
}

/* ############### Questions ############### */

.questions {
  height: 787px;
  box-sizing: border-box;
  background-image: url('/pictures/BG_2_dark.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: rgb(255, 255, 255);
}

.questions__heading_large, .questions__slider-wrapper {
  grid-column: 1/10;
}

.questions__form-label {
  color: rgb(255, 255, 255);
}

.questions__form-label::before {
  background-image: url('/pictures/icons/radio_deactive.svg');
  left: -36px;
}

.questions__input-radio:checked + .questions__form-label::before {
  background-image: url('/pictures/icons/radio_active.svg');
}

.slider__wrapper {
  margin: 80px 0;
  position: relative;
}

.slider__unit-counter {
  position: absolute;
}

.questions__heading_semilarge {
  margin-left: 91px;
}

.questions__form-unit {
  margin-left: 36px;
  margin-top: 32px;
}

.questions__form-utin + .questions__form-unit {
  margin-top: 24px;
}

.questions__slider-control {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: 18.6% auto 76.74%;
  width: 344px;
}

.questions__control_forward {
  grid-column: 3/4;
}


/* #####################################
############### Contacts ###############
######################################## */

.contacts {
  background-color: rgba(0, 66, 70, 1);
}

.contacts__content {
  height: fit-content;
}

.contacts__heading {
  grid-column: 1/13;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(224, 219, 218, 0.3);
}

.contacts__textContent {
  grid-column: 1/6;
  margin-top: 112px;
}

.contacts__map {
  grid-column: 7/13;
  margin-top: 80px;
}

.contacts__heading_large {
  color: rgba(255, 251, 250, 1);
  letter-spacing: 0.05em;
}

.contacts__heading_medium {
  color: rgba(255, 251, 250, 1);
}

.contacts__paragraph {
  color: rgba(189, 189, 189, 1);
  margin-top: 50px;
}

.contacts__unit-links {
  display: flex;
  width: fit-content;
  margin-top: 40px;
}

.contacts__navigation {
  margin-top: 92px;
}

.navigation__link {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 251, 250, 1);
  margin-top: 24px;
}

.navigation__icon {
  height: fit-content;
  margin-right: 16px;
}

.navigation__icon img {
  display: block;
  width: 20px;
  height: 20px;
}

/* #####################################
############# Consultation #############
######################################## */

.consultation {
  background-image: url('/pictures/BG_3_dark.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: rgba(224, 219, 218, 1);
}

.consultation__unit-heading {
  grid-column: 1/13;
}

.consultation__heading_large {
  color: rgba(255, 251, 250, 1);
  margin-bottom: 16px;
}

.consultation__unit-form {
  margin-top: 60px;
}


/* #####################################
################ Footer ################
######################################## */

.footer {
  background-color: rgba(80, 82, 82, 1);
}

.footer__wrapper {
  padding: 120px 0;
}

.footer__unit {
  grid-column: 1/13;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__top {
  padding: 16px 0;
  border-bottom: 1px solid rgba(224, 219, 218, 0.3);
}

.footer__nav {
  height: 100%;
  display: flex;
}

.footer__link {
  position: relative;
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer__link:last-child {
 padding-right: 0;
}

.footer__link:hover::after {
  content: "";
  position: absolute;
  bottom: -17px;
  width: calc(100% - 32px);
  height: 2px;
  background-color: rgba(255, 251, 250, 1);
}

.footer__link:last-child:hover::after {
  width: calc(100% - 16px);
}

.footer__contacts {
  margin-top: 0;
}

.footer__bottom {
  margin-top: 144px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(224, 219, 218, 0.3);
}

.footer__creators {
  color:rgba(189, 189, 189, 1);
  margin-top: 16px;
  user-select: none;
}

.nelset__link {
  color: rgba(189, 189, 189, 1);
}
